.head-name{
    text-align: center;
    
}
.head{
    background-color: rgb(250, 197, 83);
    line-height: 100px;
}
.head Link{
    color: white;
}
.link{
    color: white;
    text-decoration: none;
    margin: 15px;
}